<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdH81-oZK9SSX-x6jPNqGX25b06YS47to</string>
	<key>GCM_SENDER_ID</key>
	<string>765844353524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.faceAuth</string>
	<key>PROJECT_ID</key>
	<string>ai-face-regonition</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-face-regonition.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765844353524:ios:0d9cb4771a8e5188f089a1</string>
</dict>
</plist>